html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
b, i,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: GothamLight;
    font-size: 13px;
    color: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
    font-family: GothamMedium;
    font-weight: normal;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
	color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

html, body {
    min-height: 100%;
}
body {
    color: #929292;
}

.win_ofh {
    overflow: hidden;
    height: 100vh;
}

.content_box {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.main_container_box {
    position: relative;
    left: 0;
    transition: left .32s;
}

.main_container_box.slide_left {
    left: 66%;
}

.app {
    font-size: 13px;
}