html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
b, i,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: GothamLight;
    font-size: 13px;
    color: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
    font-family: GothamMedium;
    font-weight: normal;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
	color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

body a:link, body a:visited, body a:hover {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, select {
    vertical-align: middle;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}
body {
    color: #333;
    font-size: 13px;
}

[data-dpr="2"] body {
    font-size: 24px;
}

[data-dpr="3"] body {
    font-size: 36px;
}

.ofh {
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#app {
    min-width: 100%;
}

.confirm_btn_box {
    line-height: 1.4rem;
    text-align: center;
    background: #ef8200;
    color: #fff;
    letter-spacing: 0.097rem;
}

.confirm_btn {
    display: block;
}
